.header {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.logout-label {
  padding-right: 10px;
}

.top {
  display: flex;
  margin: 0px 10px 10px;
}

.top-left {
  width: 50%;
  border: 1px solid black;
}

.top-right {
  width: 50%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.bottom {
  display: flex;
  margin: 0px 10px 10px;
}

.bottom-left {
  width: 75%;
  border: 1px solid black;
}

.bottom-right {
  width: 25%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.logout-left {
  font-family: copperplate;
  font-size: 2em;
  margin-left: 10px;
  display: table-cell;
  vertical-align: middle;
}

.logout-right {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}
