.counter-header {
  display: block;
  border-bottom: 1px black solid;
  padding: 10px;
  font-size: 1.5em;
  background-color: #eee;
}

.counter-title {
  font-family: copperplate;
  font-size: 2em;
}

.counter-grid {
  display: grid;
  grid-template-columns: auto auto;
  margin: 10px;
}

.action-div {
  display: table;
  min-height: 100%;
}

.action-button {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.order-item {
  max-height: 40px;
}
