.customer-header {
  display: block;
  border-bottom: 1px black solid;
  padding: 10px;
  font-family: Arial;
  font-style: normal;
  background-color: #eee;
}

.customer-title {
  font-family: copperplate;
  font-size: 2em;
}

.customer-grid {
  display: grid;
  grid-template-columns: auto auto;
  margin: 10px;
}
